table {
width: 80%;
border: 6px solid #336600;
box-shadow: 3px;
background-color: #99CCFF;
box-shadow: 3px 3px 5px;
}

th {
height:100px;
border-right: solid #FFFF00 6px;
border-left: solid #FFFF00 3px;


}

 td {
height: 400px;
border-right: solid #FFFF00 6px;
border-left: solid #FFFF00 3px;
