* {
Padding: 0;
Margin: 0;
}

body {
background-size: 100% 100%;
background-repeat: no-repeat;
z-index: -1;
}



.container{
background-image: linear-gradient(to right, rgb(26, 26, 26), rgb(26, 26, 26),
rgb(105,105,105), rgb(26, 26, 26), rgb(26, 26, 26));
border-radius: 5px;
width: 100%;
height: 450px;
transform: translate3d(0, 0, 0);
overflow: hidden;
}

.traveler {
position: absolute;
display: block;
width: 100%;
height: 100%;
z-index: 1;
}

.traveler img{
width: 350px;
height: 350px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
}

@keyframes slide {
0%{
transform: translate3d(0, 0, 0);
}
100%{ transform: translate3d(0, -350px, 0px); /* The image width */
  }

}
.balletjes{
position: absolute;
background-size: 350px 350px;
border: 5px black;
background-image: url(img2/grotenballen.png);
width: 8000px;
height: 1050px;
animation: slide 10s linear infinite;
z-index: -1;

}

@keyframes slideklein {
0%{
transform: translate3d(0, 0, 0);
}
100%{ transform: translate3d(0, -350px, 0px); /* The image width */}
}
.kleineballetjes{
position: absolute;
background-size: 350px 350px;
background-image: url(img2/kleineballetjes.png);
width: 100%;
height: 1050px;
animation: slideklein 20s linear infinite;
z-index: -1;
}

@keyframes slidemini {
0%{
transform: translate3d(0, 0, 0);
}
100%{ transform: translate3d(0, -350px, 0px); /* The image width */}
}

.miniballetjes {
position: absolute;
background-size: 350px 350px;
background-image: url(img2/miniballetjes.png);
width: 100%;
height: 1050px;
animation: slidemini 30s linear infinite;
z-index: -1;

}


/* pagina inhoud */

.container2{
width: 100%;
height: 500px;
background-color: rgb(26, 26, 26);
display: block;


}
.main-content {
position: absolute;
display: block;
width: 100%;
height: 450px;
transition: all .5s;
}

.main-content img{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 3%;
transition: .5s;

}
.main-content img:hover{
transform: scale(1.2);
}

/* text op de pagina */

.container3 {
display: block;
width: 100%;
height: 800px;
background-image: linear-gradient(to bottom, rgb(26, 26, 26),
rgb(26, 26, 26), rgb(26, 26, 26), rgb(10, 3, 65));

}
.warlock{
position: absolute;
width: 100%;
height: 500px;
margin: auto;
}

.warlock img{
display: block;
width: 450px;
height: 450px;
margin-left: 50%;
}
/*
.text{
border-style: solid;
border-width: 3px;
height: 500px;
margin: auto;
}
